.vnavcol{
  background: linear-gradient(#F5C4CD, #F5C4CD, #F5C4CD, #F26F7B);
  margin-right: 50px;
}
.btnnav{
  width: 80%;
  border-radius: 10%;
  background: #F26F7B;
  opacity: 0.5;
  height: 110px;
  margin-top: 25px;
  margin-left: 25px;
  font-size: 20px;
  color: #fff;
}
button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.topbtn{
  margin-left: 35px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  font-size: 30px;
  color: white;
}
.mainscreen{
  background: linear-gradient(to bottom right, #F2B5BF, #D8671B);
  position: relative;
  height: 660px;
}

img{
  padding-top: 170px;
  width: 100%;
}
h2{
  color: #fff;
}
h1{
  color: #fff;
}





.header {
height: 700px;
width: 100%;
background-color: #FF4E50;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background: radial-gradient(#EDE574,#FF4E50);
color: #fff;
}
.Logo img{
width:90%;
margin-left: 10px;
}
.vnavcol{
background: linear-gradient(#F5C4CD, #F5C4CD, #F5C4CD, #F26F7B);
margin-right: 1175px;
height: 700px;
}
.settingsPanel img {
position: absolute;
top: 80px;
right: 280px;
width: 400px;
height: 400px;
}
.btnnav{
width: 275px;
border-radius: 10%;
background: #F26F7B;
opacity: 0.5;
height: 110px;
margin-top: 15px;
margin-left: 25px;
font-size: 20px;
color: #fff;
font-family: "Righteous", cursive;
}
#btn1{
background-color: #fff;
position: absolute ;
top: 230px;
right: 400px;
width: 210px;
height: 74px;
border-radius: 10%;
font-size: 18px;
font-family: "Righteous", cursive;
color: rgb(0,0,0);
}
#btn2{
background-color: #fff;
position: absolute ;
top: 315px;
right: 400px;
width: 210px;
height: 74px;
border-radius: 10%;
font-size: 18px;
font-family: "Righteous", cursive;
color: rgb(0,0,0);
}
button.disabled {
opacity: 0.65;
cursor: not-allowed;
}
#last{
background-color: rgb(200,150,150);
}
button.topbtn{
margin-top: 0px;
padding-top: 0px !important;
background-color: transparent;
height: 0%;
}
.navbar navbar-default navbar-fixed-side vnavcol img{
padding-top: 20px;
width: 100%;
}
h2{
color: #fff
font-size: 600px;
}
h1{
color: #fff;
}

{
  font-family: "Righteous",cursive;
}
    .janebox {
      width: 90%;
      background-color: rgba(255, 255, 255, 0.3);
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
      height: 85%;
      border-radius: 20px;
    }
    .janetext {
      text-align: center;
      color: #FFF;
      padding-top: 2px;
    }
    .mainscreen h1 {
      font-size: 90px;
    }
  .janesmallbox {
    width: 25%;
    margin-left: 10px;
    margin-top: 20px;

  }
  .janesmallbox img{
    border: 5px solid #FFF;
    width: 65%;
    border-radius: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  p {
    font-size:18px;
  }

  .companies {
    background-color: rgba(255, 255, 255, 0.3);
    height: 35%;
    border-radius: 40px;
    width: 20%;
    margin-left: 38px;
    padding-top: 0.2px;

  }
  .companies ul {
    text-align: left;
    font-size: 16px;
  }

  .middlebox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 38.5%;
    margin-left: 23%;
    height: 61.5%;
    text-align: left;
    padding-left: 30px;
  }

  .middlebox li{
    font-size: 22px;
    padding-left: 20px;
  }

  .lastbox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 20%;
    margin-left: 64%;
    height: 21.5%;
    text-align: center;

  }

  .reviews {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    width: 20%;
    margin-left: 64%;
    height: 38%;
    margin-top: 14%;
    text-align: left;
    padding: 16px ;
    line-height: normal;
  }

  .reviews p{
    font-size: 15px;
  }
  .rightext {
    text-align: right;
  }
