extends layout

block content
  h1 Add a Shift to our Database:
  br
  br
  form(method='POST',action='/shift/add')
    #form-group
    .row
      .col-lg-2
        label Title of Opening:
      .col-lg-10
        input.form-control(name='title',type='text')
    #form-group
      .row.topPad
        .col-lg-2
          label Shift start info:
        .col-lg-10
          input.form-control(name='start_time',type='text')
    #form-group
      .row.topPad
        .col-lg-2
          label Shift end info:
        .col-lg-10
          textarea.form-control(name='end_time')
    #form-group
      .row.topPad
        .col-lg-2
          label Employer's Name / Extra info:
        .col-lg-10
          textarea.form-control(name='user_id')

    input.btn.subbtn.btn-danger(type='submit', value = 'submit')
