doctype html
html
  head
    title knowledgebase
    script(src="/jquery/jquery-3.2.1.min.js")
    script(src="/scripts/opendata.js")
  body
    block content
    br
    hr
    footer
      p Copyright &copy; 2017
