doctype html
html
  head
    title knowledgebase
    script(src="/jquery/jquery-3.2.1.min.js")
    script(src="/scripts/opendata.js")

    <style type="text/css">
            include style.css
            include navbar-fixed-side.css
            include bootstrap.min.css
    </style>

    body
      .container-fluid
          .row
            .col-sm-2.col-lg-2
              nav.navbar.navbar-default.navbar-fixed-side.vnavcol
                button.btn.topbtn.text-center(onclick="location.href='http://localhost:7070/splash'")
                  img(src="http://i.imgur.com/4DQFZP2.png")
                |
                button.btn.btnnav(onclick="location.href='http://localhost:7070/shift/add'")
                  | Request Shifts
                  br
                  i.fa.fa-clock-o(aria-hidden='true')
                |
                button.btn.btnnav(onclick="location.href='http://localhost:7070'")
                  | Available Shifts
                  br
                  i.fa.fa-calendar-o(aria-hidden='true')
                |
                button.btn.btnnav(onclick="location.href='http://localhost:7070/profile'")
                  | My Profile
                  br
                  i.fa.fa-user(aria-hidden='true')
                |
                button.btn.btnnav(onclick="location.href='http://localhost:7070/settings'")
                  | Settings
                  br
                  i.fa.fa-cogs(aria-hidden='true')
            |
            .col-sm-9.col-lg-10.mainscreen
              block content
