extends layout
block content
  link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Righteous')
  body
    .header
        .container-fluid.mainscreen
                  img(src="http://i.imgur.com/sFgyW2R.png", alt='')
