.vnavcol{
  background: linear-gradient(#F5C4CD, #F5C4CD, #F5C4CD, #F26F7B);
}
.btnnav{
  width: 80%;
  border-radius: 10%;
  background: #F26F7B;
  opacity: 0.5;
  height: 110px;
  margin-top: 25px;
  margin-left: 25px;
  font-size: 20px;
  color: #fff;
}
button.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
.topbtn{
  margin-left: 35px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  font-size: 30px;
  color: white;
}
.mainscreen{
  background: linear-gradient(to bottom right, #F2B5BF, #D8671B);
  position: relative;
  height: 660px;
}

.mainscreen img {
  height: 500px;
  width: auto;
  margin-left: 225px;
  margin-top: 50px;
}

.tempbtn{
  width: 100%;
  length: 100%;
}
.subbtn{
  width: 100%;
  length: 100px;
  margin-top: 50px;
}
.splashimg{
  padding-top: 175px;
}
.topPad{
  padding-top: 25px;
}

img{
  padding-top: 0px;
  width: 100%;
}
h2{
  color: #fff;
}
h1{
  color: #fff;
}
